.footer{
    margin-top: 60px;
    text-align: center;
    color: white;
    font-family: 'open sans';
    font-size: 15px;
    margin-bottom: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}